@font-face {
  font-family: "cursed_timer_ulilregular";
  src: url("./assets/fonts/cursedtimerulil-aznm-webfont.woff2") format("woff2"),
    url("./assets/fonts/cursedtimerulil-aznm-webfont.woff") format("woff");
}

:root {
  font-size: 20px;
  --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --digits-font-family: "cursed_timer_ulilregular", monospace;

  --bg-blue: #1b244a;
  --bg-black: #080001;
  --text-white: #eeeeee;
  --text-red: #f94f6d;
  --text-lightblue: #9aabd8;
}

body {
  margin: 0;
  color: var(--text-white);
  font-family: var(--main-font-family);
  text-align: center;
}

#scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 575px;
  height: 386px;
  background-color: var(--bg-blue);
}

.team {
  /* width: 155px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team h3 {
  margin: 0;
  font-size: 2rem;
}

.scorebox {
  margin: 15px 0 20px;
  background-color: var(--bg-black);
  width: 155px;
  height: 120px;
  font-family: var(--digits-font-family);
  color: var(--text-red);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 9px;
  font-family: var(--digits-font-family);
  font-weight: 100;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-lightblue);
  border: 2px solid var(--text-lightblue);
  border-radius: 5px;
}

#center-section {
  display: flex;
  align-items: center;
}
